@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme inline{
  --font-inter: "Inter", "sans-serif";
  --animate-twinkleAnimation: twinkle ease-in-out infinite alternate;
  --animate-slideup: slide-up 0.5s;
  --animate-slidedown: slide-down 0.5s;
  --animate-popout: pop-out 1s;

  /* Colors */
  
  --color-theme: rgb(var(--theme));
  --color-primary: rgb(var(--primary));
  --color-secondary: rgb(var(--secondary));
  --color-accent: rgb(var(--accent));
  --color-background: rgb(var(--background));
  --color-text: rgb(var(--text));
  --color-text-secondary: rgb(var(--text-secondary));
  --color-border: rgb(var(--border));

  /* keyframes */

  @keyframes twinkle {
    0%, 100% {
      opacity:0.2;
      transform:scale(0.9);
    }
    50%{
      opacity: 1;
      transform: scale(1.2);
    }
  }
   @keyframes slide-up {
    0%{
      opacity:0.2;
      transform: translateY(30%);
    }
    100%{
      opacity:1;
      transform: translateY(0%);
      
    }
  }
  @keyframes slide-down {
    0%{
      opacity:0.2;
      transform: translateY(-30%);
    }
    100%{
      opacity:1;
      transform: translateY(0%);
      
    }
  }

  @keyframes pop-out {
    0%{
      opacity: 0;
    }
    100%{
      opacity: 1;
    }
  } 
}


.light {
--primary: 255 244 117;        /* Vibrant citrus yellow */
--secondary: 255 235 190;    /* Light creamy yellow */
--accent: 0 160 232;          /* Cool cyan pop */
--text: 44 38 24;
--text-secondary: 100 90 60;
--border: 240 225 190;
--background: 240 256 250;

}





.dark {
--primary: 120 180 255;        /* Cooler icy-blue */
--secondary: 144 176 224;
--accent: 0 229 255;           /* Arctic cyan */
--background: 2 3 6;
--text: 235 245 255;
--text-secondary: 170 190 210;
--border: 55 65 90;

} 

